$break_mb: 400px;
$width_mb: 400px;
$break_sm: 540px;
$width_sm: 480px;
$break_md: 768px;
$width_md: 720px;
$break_lg: 992px;
$width_lg: 960px;
$break_xl: 1px;
$width_xl: 1200px;

$const_padding: 0px;

$violet: #6235c6;
$violet2: #baa4ec;
$yellow1: #fcc244;
$yellow2: #fce144;
$red1: #f2482e;
$blue1: #254fef;
$blue2: #4672eb;
$blue3: #b9a1eb;
$white1: #f9f8fe;
$white2: #f3f3fd;
$grey1: #e9e8ee;
$grey2: #9f9db5;
$grey3: #e6e5f7;
$grey4: #c3bccc;